*{
    margin: 0;
    padding: 0;
}
header{
    width: 100vw;
    height: 50px;
    background: black;
    display: flex;
    align-items: center;
}
.logo img{
    cursor: pointer;
    width: 113px;
    height: 40px;
    margin-left: 10px;
    margin-top: 3px;
}
.logo img:hover{
    border: 1px solid white;
}
.loc{
    width: 202px;
    height: 40px;
    color: white;
    display: flex;
    font-size: 13px;
    margin-top: 2px;
    margin-left: 32px;
    cursor: pointer;
}
.loc img{
    cursor: pointer;
    width: 49px;
    height: 38px;
    margin-top: 5px;
  }

.loc:hover{
    border: 1px solid white;
}
.loc p{
    margin-top: 20px;
}
.drpsearch {
    width: 3rem;
    height: 37px;
    background-color: rgb(181, 172, 172);
    font-size: 17px;
    margin-top: -2px;
    margin-left: 16px;
    z-index: 1;
    position: relative;
  cursor: pointer;
}
.searchbar{
      cursor: pointer;
      width: 505px;
      height: 38px;
      background-color: white;
      position: relative;
      left: -47px;
    }
    .nav-input{
        width: 432px;
        height: 34px;
        margin-left: -2px;
        padding-left: 73px;
    }
    
    .searchlogo{
        width: 36px;
        height: 38px;
        background-color: #ffa234;
        position: relative;
        left: -82px;
        cursor: pointer;
    }
    .searchlogo img{
        width: 26px;
        margin: 7px;
    }
    .lang{
        width: 52px;
        height: 30px;
        background-color: black;
        cursor: pointer;
        color: white;
        margin-left: -58px;
    }
    .lan{
        background-color: black;
    }

    .account select{
        width: 135px;
        height: 38px;
        cursor: pointer;
        color: white;
        background-color: black;
        margin-left: 1px;
        font-size: 11px;
      }
    .account{
        width: 150px;
        height: 45px;
        margin-left: 19px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .account:hover{
        border: 1px solid white;
    }
    .order{
        width: 105px;
        height: 40px;
        background-color: black;
        cursor: pointer;
        color: white;
        margin-left: 20px;
      }
    
    .order:hover{
        border: 1px solid white;
    }
    .cart{
        background-color: rgb(255, 255, 255);
        margin-left: 10px;
        
    }
    .cart img{
        height: 33px;
        width: 40px;
    }
    .slider{
        display: flex;
        background-color: antiquewhite;
        width: 1000vw;
        height: 70vh;
overflow: hidden;
    }
    .slider img{
        width: 100vw;
        height: 60vh;
    }
.img1{
    animation: slide 4s forwards infinite;
}ea
.img2{
    animation: slide1 4s linear infinite;
}
.img3{
    animation: slide2 4s linear infinite;
}
@keyframes slide {
    0%{
        transform: translate(0vw);
    }
    100%{
        transform: translate(100vw);
    }
}
@keyframes slide1 {
    0%{
        transform: translate(-100vw);
    }
    100%{
        transform: translate(0vw);
    }
}
@keyframes slide2 {
    0%{
        transform: translate(0px);
    }
    100%{
        transform: translate(100vw);
    }
}